.register_form input,.iti,button[type='submit']{
    width: 100%;
    display: block;
    margin-top: 5px;
    outline: none;
}
.register_form input {
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid #FFF;
    background: linear-gradient(176deg, rgba(51, 51, 51, 0.40) 0%, rgba(80, 79, 79, 0.40) 100%);
    backdrop-filter: blur(5px);
    margin-top: 16px;
    padding: 30px 15px;
}
.form-label{
    display: none!important;
}
.register_form  .errors{
    background: #c38188;
    text-align: center;
    color: black;
    margin: 10px;
    padding: 5px;
}
.register_form {
    max-width: 600px!important;
    margin: 0 auto;
    display: block;
}
.register_form .submit_button {
    border-radius: 20px;
    background: linear-gradient(143deg, #B6FF6F 0%, #BEED8F 100%);
    color: #1E1E1E;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    height: 84px;
}
.invest_250{
    color: #fff!important;
}
.register_form .submit_button:hover {
    transform: scale(1.08);
}

.iti--allow-dropdown input[type="tel"], .iti--separate-dial-code input {
    padding-left: 86px !important;
}

.iti__country-list{
    color: #000!important;
}
::placeholder {
    color: #FAF8FF;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}

.iti__selected-dial-code {
    color: #fff;
}

.iti.iti--allow-dropdown.iti--separate-dial-code {
    margin-top: 16px;
}

input {
    color: white;}